* {
    box-sizing: border-box;
}

:root {
    --primary-text-color: #2E2F42;
    --text-color-secondary: #434455;
    --btn-primary: #4D5AE5;
    --btn-accent: #404BBF;
    --text-white: #ffffff;
    --background-primary: #F4F4FD;
    --background-secondary: #E7E9FC;
}

/* WEBSTUDIO and Portfolio html styles fprmatting  */
body {
    /* main text formatting */
    color: var(--primary-text-color);
    font-family: 'Roboto', normal;
    font-size: 16px;
}

P,
h1,
h2,
h3 {
    margin-top: 0;
}

/* header */

/* logo WebStudio - in all html files */
.logo {
    font-family: 'Raleway', normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: var(--btn-accent);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

/* logo head STUDIO accent*/
.accent-head {
    color: var(--primary-text-color);

}

/* ul/ol list style formatting */
.nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
}

.adress {
    list-style-type: none;
}

.address-link {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color-secondary);
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus {
    color: var(--btn-accent);
}

.container {
    width: 100;
    max-width: 1128px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 120px 0;
}


/* main */
/* section 1  */
.hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: var(--primary-text-color);
}

.hero-title {

    margin-bottom: 48px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--text-white);
}

.hero-button {

    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--text-white);
    background-color: var(--btn-accent);
    border-radius: 4;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--btn-primary);
}

/* section 2 */
.features {
    list-style-type: none;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.features-desc {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color-secondary);
}

/* section 3 */
.service-list {
    list-style-type: none;
}

/* section 4 */
.team {
    background-color: var(--background-primary);
}

.team-list {
    list-style-type: none;
}

.team-desc {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color-secondary);
}

/* footer */
.footer {
    background-color: var(--primary-text-color);
}

/* logo footer */
.accent-foot {
    color: var(--background-primary);
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-secondary);
}

/* Portfolio html */
/* section_1_portfolio */
.filter {
    list-style-type: none;
}

.filter-btn {
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--btn-accent);
    background-color: var(--background-primary);
    border-radius: 4;
}

.filter-btn:hover,
.filter-btn:focus,
.filter-btn:active {
    color: var(--text-white);
    background-color: var(--btn-primary);
}

/* products examples */
.filter-list {
    list-style-type: none;
}

.filter-list-item {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color-secondary);
}