* {
    box-sizing: border-box;
}

:root {
    --primary-text-color: #2E2F42;
    --text-color-secondary: #434455;
    --btn-primary: #4D5AE5;
    --btn-accent: #404BBF;
    --text-white: #ffffff;
    --background-primary: #F4F4FD;
    --background-secondary: #E7E9FC;
}

/* WEBSTUDIO and Portfolio html styles fprmatting  */
/* Utilites */
body {
    /* main text formatting */
    color: var(--primary-text-color);
    font-family: 'Roboto', normal;
    font-size: 16px;
}

P,
h1,
h2,
h3 {
    margin-top: 0;
}

.container {
    width: 100;
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}



.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


/* header */
.main-nav {
    display: flex;
    align-items: center;

}

/* logo WebStudio - in all html files */

.logo {
    font-family: 'Raleway', normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: var(--btn-accent);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

/* logo head STUDIO accent*/
.accent-head {
    color: var(--primary-text-color);

}

/* navigation bar */
.nav {
    display: flex;
    margin-left: 76px;
}


.nav .nav-list+.nav-list {
    margin-left: 40px;
}

.nav-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;


}

/* Margin left change to auto */
.address {
    display: flex;
    margin-left: auto;
}

.address .address-list+.address-list {
    margin-left: 40px;
}


.address-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color-secondary);
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus {
    color: var(--btn-accent);
}



/* main */
/* section 1  */
.hero {
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: var(--primary-text-color);
}

.hero-title {
    margin-bottom: 48px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--text-white);
}

.hero-button {
    border: 1px transparent;
    text-align: center;
    display: inline-block;
    min-width: 169px;
    border-radius: 4px;
    padding: 16px 32px 16px 32px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--text-white);
    background-color: var(--btn-accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--btn-primary);
}

/* section 2 */
.features {}

.section {
    padding: 120px 0;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.features-desc {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color-secondary);
}

/* section 3 */
.service-list {
    list-style-type: none;
}

/* section 4 */
.team {
    background-color: var(--background-primary);
}

.team-list {}

.team-desc {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color-secondary);
}

/* footer */
.footer {
    background-color: var(--primary-text-color);
}

/* logo footer */
.accent-foot {
    color: var(--background-primary);
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-secondary);
}

/* Portfolio html */
/* section_1_portfolio */
.filter {
    display: flex;

}

.filter .item+.item {
    margin-left: 24;
}

.filter-btn {
    text-align: center;
    display: inline-block;
    width: auto;
    min-width: 69px;
    border-radius: 4px;
    padding: 12px 24px 12px 24px;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--btn-accent);
    background-color: var(--background-primary);
    border: 1px solid #E7E9FC;
}



.filter-btn:hover,
.filter-btn:focus,
.filter-btn:active {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--text-white);
    background-color: var(--btn-primary);

}

/* products examples */


/* .filter-list {
    display: flex;
    justify-content: space-evenly;
} */

/* .filter-list .list+.list {
    margin-left: 24;
} */

*/ .filter-list-item {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color-secondary);
}